.button {
    border-radius: 6px;
    color: #FFFFFF;
    padding: 8px 30px;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s;
    font-size: 16px;
    border: none;
    max-width: 135px;
    height: 42px;
}

.accent {
    background-color: #312EB5;
}

.accent:hover {
    background-color: #1a1973;
}