.journal-item {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.03);
    color: #fff;
    padding: 20px;
}

.journal-item__header {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-style: normal;
}

.journal-item__body {
    display: flex;
    gap: 10px;
}

.journal-item__date {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
}

.journal-item__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
}